<%= link_to random_posts_path do %>
<div class="random2">
    <div class="random3">
        <%= image_tag "DARTS2.png" %>
    </div>
    <div class="random4">
        <div class="random5">
            <%= image_tag "DARTS4.jpg", class: "ya" %>
        </div><br>
        <div class="darts-text">
            <h4>ダーツで投稿を当てよう!</h4>
        </div>
    </div>
</div>
<% end %>

